.ft{
  display: block;
  position: relative;
  bottom: 0px;
  height: 185px;
  width: 100%;
  background-color:#2e363f;
  color: #fff;
}
.ct{
  position: relative;
  padding: 20px 50px;
}


.textTitle{
  font-family: Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
  color: #666;
}
element.style {
}

.h-100 {
    height: 100%!important;
}
.card-an{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0.5px solid #d5d5d5;
    border-radius: .25rem;
}
.card-title {
    margin-bottom: .75rem;
}
.card-footer:last-child {
    border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px);
}
.card-footer {
    padding: .75rem 1.25rem;
    background-color: rgba(0,0,0,.03);
    border-top: 1px solid rgba(0,0,0,.125);
}
.card-text:last-child {
    margin-bottom: 0;
}
.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}
*, ::after, ::before {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #666;
    text-align: left;
    background-color: #e6e6e6;
}
:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}
html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
}
*, ::after, ::before {
    box-sizing: border-box;
}
*, ::after, ::before {
    box-sizing: border-box;
}


.site-shopping-info {
    overflow: hidden;
    background-color: #fff;
    margin-top: 20px;
    border-radius: 10px;
}

.site-shopping-info .container {
    width: 1200px;
}

section>.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 0;
}
.site-shopping-info .info-slide {
    float: left;
    width: 33.33333%;
}
.site-shopping-info .info-slide {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 35px 45px 20px;
    text-align: center;
    position: relative;
}
.site-shopping-info .info-slide+.info-slide:before {
    background-color: #e2e2e2;
    content: "";
    display: block;
    margin-top: -32.5px;
    height: 65px;
    left: 0;
    position: absolute;
    top: 50%;
    width: 1px;
}
.site-shopping-info .info-slide>.img-container {
    height: 55px;
}
.site-shopping-info .info-slide {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 35px 45px 20px;
    text-align: center;
    position: relative;
}
.site-shopping-info .info-slide h1 {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.4;
    color: #4b4b4b;
    margin: 16px 0 0;
}
.card-img-top {
    width: 100%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}
#map {
        height: 400px;
        width: 100%;
       }
.button.is-rounded {
    border-radius: 290486px;
    padding-left: 1em;
    padding-right: 1em;
}
.cardc{
    position: relative;
    /*display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;*/

    height: auto;
    background-color: #fff;
    border: 0.5px solid #d5d5d5;
    border-radius: .25rem;
}
@media screen and (min-width: 600px){
    .ctrl {
        width: 100%;
    }
}
@media screen and (min-width: 601px) and (max-width: 900px){
    .ctrl {
        width: 20%;
    }
}
@media screen and (min-width: 901){
    .ctrl {
        width: 20%;
    }
}
.pimagem{
    width:100px;
    height:400px;
}